body {
    margin: 20px;
    padding: 20px;
}

header{
    background-color: lemonchiffon;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
}

ul{
    margin: 0;
}

.site-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color :coral;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:coral;
    text-decoration: none;
}

/* dashboard */
.dashboard{
    display: contents;
    flex-direction: column;
    margin-top: 100px;
}

.korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: black;
    margin-top: 1px;
}

.sample{
    background-color: coral;
}

.menu-btn:hover{
    background-color: lemonchiffon;
    letter-spacing: 4px;
    transition: all 0.4s ease-in;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: black;
}

.profile{
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.profile img:hover{
    width: 200px;
    height: 200px;
    transform: scale(1.2);
    transition: transform 1s;   
}

main{
    padding: 30px;
}

#name{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding-left: 0%;
}

#cv{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.sub-title{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0 20px 0;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
}

/* @media(max-width : 500px){
    main{
        display: block;
        flex-direction: column;
        align-items: center;
    }
    .sub-container{
        display: block;
    }
} */